services:
  openclaw-gateway:
    image: ghcr.io/openclaw/openclaw:2026.2.9
    container_name: openclaw-gateway
    networks: [openclaw]
    user: "0:0"
    environment:
      HOME: /home/node
      TERM: xterm-256color
      OPENCLAW_GATEWAY_TOKEN: ${OPENCLAW_GATEWAY_TOKEN}
      DISCORD_BOT_TOKEN: ${DISCORD_BOT_TOKEN}

    volumes:
      - ${OPENCLAW_CONFIG_DIR}:/home/node/.openclaw
      - ${OPENCLAW_WORKSPACE_DIR}:/home/node/.openclaw/workspace
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "0.0.0.0:18789:18789"
      - "0.0.0.0:18790:18790"
    init: true
    restart: unless-stopped
    command: ["node","dist/index.js","gateway","--allow-unconfigured", "--bind","lan","--port","18789"]

  openclaw-cli:
    image: ghcr.io/openclaw/openclaw:2026.2.9
    networks: [openclaw]
    user: "0:0"
    depends_on: [openclaw-gateway]
    environment:
      HOME: /home/node
      TERM: xterm-256color
      OPENCLAW_GATEWAY_TOKEN: ${OPENCLAW_GATEWAY_TOKEN}
      DISCORD_BOT_TOKEN: ${DISCORD_BOT_TOKEN}
    volumes:
      - ${OPENCLAW_CONFIG_DIR}:/home/node/.openclaw
      - ${OPENCLAW_WORKSPACE_DIR}:/home/node/.openclaw/workspace
    stdin_open: true
    tty: true
    init: true
    entrypoint: ["node","dist/index.js"]

networks:
  openclaw:
